Package: com.randy420.tools
Name: 420 Tools
Architecture: iphoneos-arm
Description: 420Tools holds the preferences for all my tweaks as well as shared files for my tweaks.
Depiction: https://Randy-420.GitHub.io/depic/420Tools.html
Depends: ws.hbang.common
Homepage: https://theemeraldisle.family
Maintainer: Randy420 <randy.skinner@hotmail.com>
Author: Randy420 <randy.skinner@hotmail.com>
Section: System
Tag: role::hacker
Version: 2.4
