<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>If this is switched off, only the patches which are set to 'on' will appear as options when you use 'ftt'</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.fttprefs</string>
			<key>key</key>
			<string>showAll</string>
			<key>label</key>
			<string>Show all patches</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>fttFolder</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Output Folder Handling</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>fttControl</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Control File Handling</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>fttMakefile</string>
			<key>isControler</key>
			<true/>
			<key>label</key>
			<string>Makefile Handling</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>source</string>
			<key>icon</key>
			<string>giticon.png</string>
			<key>label</key>
			<string>Flex to Theos Source Code</string>
		</dict>
	</array>
	<key>title</key>
	<string>Flex to Theos settings by Randy420</string>
</dict>
</plist>
