<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Remove Language Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.rr</string>
			<key>key</key>
			<string>russian</string>
			<key>label</key>
			<string>Remove Russian Language Packs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.rr</string>
			<key>key</key>
			<string>turkish</string>
			<key>label</key>
			<string>Remove Turkish Language Packs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Location Handling:</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>This will remove language files from almost all downloaded tweaks. If this action was not desired, it can be reversed by redownloading the tweaks they've been removed from.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.rr</string>
			<key>key</key>
			<string>standardRemove</string>
			<key>label</key>
			<string>Standard Remove</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>This will remove language files from '/System/Library/PreferenceBundles/' which can house tweak files as well as stock ios language files. Turning this on will PERMANENTLY remove selected language packs from your phone.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.rr</string>
			<key>key</key>
			<string>deepRemove</string>
			<key>label</key>
			<string>Deep Remove</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>This will remove language files from all applications located in '/Applications' which also houses stock iOS language files. Turning this on will ((PERMANENTLY) from select stock ios apps) remove language packs from your phone.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.rr</string>
			<key>key</key>
			<string>deepRemoveApps</string>
			<key>label</key>
			<string>Remove from apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>first</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSpinnerCell</string>
			<key>id</key>
			<string>load</string>
			<key>label</key>
			<string>Deleting lproj files...</string>
		</dict>
		<dict>
			<key>action</key>
			<string>deleteRussianLanguage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>button</string>
			<key>label</key>
			<string>🇷🇺Remove Selected Language Packs🇹🇷</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>source</string>
			<key>icon</key>
			<string>giticon.png</string>
			<key>label</key>
			<string>Remove Russian Language Source Code</string>
		</dict>
	</array>
	<key>title</key>
	<string>Remove Russian Language</string>
</dict>
</plist>
