<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Remove Russian Language</string>
		</dict>
		<dict>
			<key>action</key>
			<string>deleteRussianLanguage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Remove Russian Language</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact 🌎</string>
		</dict>
		<dict>
			<key>action</key>
			<string>T</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>t.png</string>
			<key>label</key>
			<string>Randy420 (Dev)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>P</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>pay.png</string>
			<key>id</key>
			<string>switchID</string>
			<key>label</key>
			<string>Cheers a beer 🍺</string>
		</dict>
	</array>
	<key>title</key>
	<string>Remove Russian Language</string>
</dict>
</plist>
