<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Install Location:</string>
			<key>id</key>
			<string>topGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>enabled</key>
			<true/>
			<key>default</key>
			<string>/var/theos</string>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>id</key>
			<string>installLoc</string>
			<key>key</key>
			<string>Location</string>
			<key>validTitles</key>
			<array>
				<string>/theos</string>
				<string>/var/theos</string>
			</array>
			<key>validValues</key>
			<array>
				<string>/theos</string>
				<string>/var/theos</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>id</key>
			<string>theos</string>
			<key>label</key>
			<string>Theos is currently installed to /theos</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>id</key>
			<string>varTheos</string>
			<key>label</key>
			<string>Theos is currently installed to /var/theos</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>taiDownloads</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>🌐Download Options‼️</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>Usage (run in mTerminal or theosTerm):
'tai' will download &amp; install theos &amp; sdks files if it's not already.

'tai -r' will download &amp; re-install theos &amp; all the chosen sdks files.

'tai -u' will uninstall theos &amp; sdks files.

'tai -s' will install the enhancement files &amp; any sdks that have been selected for download

'tai -v' will update theos</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>Note</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sDks</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>SDKS.png</string>
			<key>id</key>
			<string>Sdks</string>
			<key>label</key>
			<string>Get Dev Tools &amp; SDKS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>fullDl</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Full.png</string>
			<key>id</key>
			<string>Full</string>
			<key>label</key>
			<string>Install Theos</string>
		</dict>
		<dict>
			<key>action</key>
			<string>updateTheos</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>update.png</string>
			<key>id</key>
			<string>Update</string>
			<key>label</key>
			<string>Update Theos</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>divFix</string>
		</dict>
		<dict>
			<key>action</key>
			<string>fixFakeRoot</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>fix</string>
			<key>label</key>
			<string>Fix Theos fakeroot bug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSpinnerCell</string>
			<key>id</key>
			<string>load</string>
			<key>label</key>
			<string>Downloading files...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGiantCell</string>
			<key>id</key>
			<string>top</string>
			<key>label</key>
			<string>⛔️DONT•EXIT🛑</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGiantCell</string>
			<key>id</key>
			<string>bottom</string>
			<key>label</key>
			<string>🛑WAIT•UNTIL•FINISHED⛔️</string>
		</dict>
		<dict>
			<key>action</key>
			<string>source</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>giticon.png</string>
			<key>label</key>
			<string>Theos Auto Installer Source Code</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Copyright - TAI By:Randy420 2021</string>
		</dict>
	</array>
	<key>title</key>
	<string>Theos Auto Installer</string>
</dict>
</plist>
