<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Volume Step Change</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.randy420.volumestepprefs.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.volumestepprefs</string>
			<key>id</key>
			<string>vsEnable</string>
			<key>key</key>
			<string>VSStepEnabled</string>
			<key>label</key>
			<string>Enable Custom Volume-Step:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.randy420.volumestepprefs.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.volumestepprefs</string>
			<key>id</key>
			<string>vsSeperate</string>
			<key>key</key>
			<string>vsSeperate</string>
			<key>label</key>
			<string>Seperate Volume Up/Down</string>
		</dict>
		<dict>
			<key>id</key>
			<string>VolumeUp</string>
			<key>label</key>
			<string>Volume Step Up</string>
		</dict>
		<dict>
			<key>id</key>
			<string>VolumeUpDown</string>
			<key>label</key>
			<string>Volume Step Up/Down</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.randy420.volumestepprefs.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.randy420.volumestepprefs</string>
			<key>id</key>
			<string>prefInt</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>prefInt</string>
			<key>label</key>
			<string>Enter the desired step value:</string>
			<key>max</key>
			<integer>50</integer>
			<key>min</key>
			<real>1</real>
			<key>segmentCount</key>
			<integer>49</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>VolumeDown</string>
			<key>label</key>
			<string>Volume Step Down</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.randy420.volumestepprefs.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.randy420.volumestepprefs</string>
			<key>id</key>
			<string>prefIntDown</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>prefIntDown</string>
			<key>label</key>
			<string>Enter the desired step down value:</string>
			<key>max</key>
			<integer>50</integer>
			<key>min</key>
			<real>1</real>
			<key>segmentCount</key>
			<integer>49</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Haptic Options</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.randy420.volumestepprefs.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.volumestepprefs</string>
			<key>id</key>
			<string>Vibration</string>
			<key>key</key>
			<string>vsVibEnabled</string>
			<key>label</key>
			<string>Haptic Feedback Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.randy420.volumestepprefs.settingschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.randy420.volumestepprefs</string>
			<key>id</key>
			<string>VibeHide</string>
			<key>key</key>
			<string>VSVibeLevel</string>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Medium</string>
				<string>Strong</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact 🌎</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Twitter2</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>1.png</string>
			<key>label</key>
			<string>Randy420 (Dev)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Twitter3</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>1.png</string>
			<key>label</key>
			<string>AliCydia (Design)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>pay</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>pay.png</string>
			<key>label</key>
			<string>Cheer a beer 🍺</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Copyright - VolumeStep13/14 2020</string>
		</dict>
	</array>
	<key>title</key>
	<string>VolumeStep13/14</string>
</dict>
</plist>
