<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>Download extra header files to the theos folder. It may help in future development and doesnt take much space.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>key</key>
			<string>enhance</string>
			<key>label</key>
			<string>Dev Tools</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>Remove SDKS that are not turned on (below)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>autoRm</string>
			<key>key</key>
			<string>autoRm</string>
			<key>label</key>
			<string>Remove unselected SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>0</string>
			<key>footerText</key>
			<string>Only one SDK is necessary to jump into development! If you're trying to conserve space, I suggest iOS 13.5 or 14.1 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>0.png</string>
			<key>id</key>
			<string>All</string>
			<key>key</key>
			<string>sdks-master</string>
			<key>label</key>
			<string>All SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>eightFour</string>
			<key>key</key>
			<string>8.4</string>
			<key>label</key>
			<string>8.4 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>1.png</string>
			<key>id</key>
			<string>nineThree</string>
			<key>key</key>
			<string>9.3</string>
			<key>label</key>
			<string>9.3 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>ten</string>
			<key>key</key>
			<string>10.0</string>
			<key>label</key>
			<string>10.0 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>2.png</string>
			<key>id</key>
			<string>tenThree</string>
			<key>key</key>
			<string>10.3</string>
			<key>label</key>
			<string>10.3 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>eleven</string>
			<key>key</key>
			<string>11.0</string>
			<key>label</key>
			<string>11.0 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>elevenOne</string>
			<key>key</key>
			<string>11.1</string>
			<key>label</key>
			<string>11.1 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>3.png</string>
			<key>id</key>
			<string>elevenTwo</string>
			<key>key</key>
			<string>11.2</string>
			<key>label</key>
			<string>11.2 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>elevenThree</string>
			<key>key</key>
			<string>11.3</string>
			<key>label</key>
			<string>11.3 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>elevenFour</string>
			<key>key</key>
			<string>11.4</string>
			<key>label</key>
			<string>11.4 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>4.png</string>
			<key>id</key>
			<string>twelveOneTwo</string>
			<key>key</key>
			<string>12.1.2</string>
			<key>label</key>
			<string>12.1.2 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>twelveTwo</string>
			<key>key</key>
			<string>12.2</string>
			<key>label</key>
			<string>12.2 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>5.png</string>
			<key>id</key>
			<string>twelveFour</string>
			<key>key</key>
			<string>12.4</string>
			<key>label</key>
			<string>12.4 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>6.png</string>
			<key>id</key>
			<string>thirteen</string>
			<key>key</key>
			<string>13.0</string>
			<key>label</key>
			<string>13.0 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>thirteenTwo</string>
			<key>key</key>
			<string>13.2</string>
			<key>label</key>
			<string>13.2 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>7.png</string>
			<key>id</key>
			<string>thirteenFour</string>
			<key>key</key>
			<string>13.4</string>
			<key>label</key>
			<string>13.4 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>8.png</string>
			<key>id</key>
			<string>thirteenFive</string>
			<key>key</key>
			<string>13.5</string>
			<key>label</key>
			<string>13.5 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>9.png</string>
			<key>id</key>
			<string>fourteen</string>
			<key>key</key>
			<string>14.0</string>
			<key>label</key>
			<string>14.0 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>fourteenOne</string>
			<key>key</key>
			<string>14.1</string>
			<key>label</key>
			<string>14.1 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>fourteenTwo</string>
			<key>key</key>
			<string>14.2</string>
			<key>label</key>
			<string>14.2 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>fourteenThree</string>
			<key>key</key>
			<string>14.3</string>
			<key>label</key>
			<string>14.3 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.randy420.tai</string>
			<key>icon</key>
			<string>00.png</string>
			<key>id</key>
			<string>fourteenFour</string>
			<key>key</key>
			<string>14.4</string>
			<key>label</key>
			<string>14.4 SDKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Copyright - TAI By:Randy420 2021</string>
		</dict>
	</array>
	<key>title</key>
	<string>Theos Auto Installer</string>
</dict>
</plist>
